---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Everybody is welcomed",
    description:
      "Your race, nationality, gender or sexual orientation dosn't make a difference.",
    icon: "bx:bxs-user-pin",
  },
  {
    title: "Meetups are Free of Charge",
    description:
      "Our meetups are free. Because we understand that cheap has different value for everybody.",
    icon: "bx:bxs-data",
  },
  {
    title: "Community Driven",
    description:
      "We're community driven. We try to listen and improve based on feedback, which helps us quite a lot.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Meetups for everybody
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We try to make our meetups as much accessible as possible. And therefore you can always expect these things from our community:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
